article {
	background-color: #0d1117;
	color: #cccccc;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
	min-width: 240px;
	max-width: 1024px;
	margin: auto;
	padding: 45px;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  margin-top: 32px;
  margin-bottom: 14px;
  line-height: 1.25;
}

article h1 {
  margin: .4em 0;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid white;
}

article h2 {
  padding-bottom: .3em;
  font-size: 1.5em;
}

article h3 {
  font-size: 1.25em;
}

article h4 {
  font-size: 1em;
}

article p {
	white-space: break-spaces;
  margin-top: 0;
  margin-bottom: 10px;
}

article code {
	display: block;
  padding: 1em;
  margin: 0;
  font-size: 85%;
	color: white;
  white-space: break-spaces;
	background-color: #232323;
  border-radius: 6px;
}

article code br {
	display: none;
}

article img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #0d1117;
}

@media only screen and (max-width: 1024px) {
	article {
		padding: 25px;
		margin-top: 0;
	}
}
